body{
    margin: 0;
}

div{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: small;
    text-align: center;
}

#header{
    position: fixed;
    /* top: 0%; */
    /* display: block; */
    top: 0;
    height:80px;
    width: 100%;
    z-index: 100;
    background-color: white;
    box-shadow: 0 2px 10px #aaa;
    
}
#logo{
    width: 100%;
    height: 100%;
    background: url(/Assets/21cd-logo-2x.png) no-repeat 28px center;
    background-size: auto 60px;
    
}
#interactiveBody{
    z-index: 1;
    /* padding-top: 100px; */
}
.flex-container{
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    top: 80px;
    /* position: absolute; */
    /* height: 90%;
    top: 10%;
    width: 100%; */
}

/* .flex-container > div {
    width: 55%;
    max-width: 55%;
    min-width: 720px;
} */


#matrixCanvas {
    height:100%;
    margin:0px;
    padding:0px;
    box-shadow: -5px -3px 10px 5px rgb(80,80,80);
}

#dataVizCanvas{
    position: sticky;
    top: 80px;
}
#lineChart{
    width: 100%;
    height: 450px;
    position: sticky;
    top: 80px;
}


.matrixHeader{
    position: sticky;
    top: 80px;
    box-shadow: -4px 2px 10px 0px rgb(80,80,80);
}

.headerCell{
    vertical-align: top;
    background: #fbec40;
    height: 100%;
    font-size: small;
    font-weight: 700;
    border-bottom: solid 1px;
    border-left: solid 1px;
}
.blankCell{
    /* fill: white; */
    background: white;
    border-bottom: solid 1px;
}

.matrixContainer{

}

.categoryHeader{
    background: #666666;
    height: 28px;
    text-align: left;
    padding-top: 7px;
    padding-left: 15px;
    font-weight: 600;
    font-size: large;
    color: white;
    user-select: none;
}

.matrixDataContainers{

}

.matrixRow{
    
}

.matrixData{
    vertical-align: top;
    padding-top: 10px;
    height: 100%;
    border-right-style: dashed;
    border-right-width: 1px;
    color: #333333;
    user-select: none;
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
    outline: none;
}

.rowHeader{
    color: black;
    font-size: small;
    font-weight: 550;
    text-decoration: underline;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.chartLine{
    stroke-width: 2px;
    /* fill: none; */
}
h2{
    margin-block-start:0%;
}
#dataVizCanvas{
    position: sticky;
}
/* #opportunitiesAndRadar{
    padding: 1%;
    width: 97%;
    height: 800px;
    top: 505px;
    position: sticky;
    display: table;
    margin: 0;
}
#opportunitiesBox{
    display: table-cell;
    margin: 0;
    width: 50%;
    top: 0%;
    padding-top: 0%;
    vertical-align: top;
    height: 800px;
} */
#radarChart{
    /* display: absolute; */
    position: sticky;
    width: 100%;
    height: 520px;
    top: 530px;
    margin: 0;
    vertical-align: top;
}

#opportunitiesList{
    margin-left: 30px;
}

.suggestionRow{
    cursor: pointer;
}
.suggestionCell{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.radarChartAxes{
    stroke-width: 1px;
    stroke: gray;
}
.radarChartLabels{
    font-weight: 600;
    font-size: medium;
}